<!--This is the profile for a single grower. It will contain

Grower's Bio
Grower's Inventory-->

<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
        <link rel="stylesheet" href="/css/profile.css" media="screen" title="no title" charset="utf-8">
        <meta charset="utf-8">
        <title>Cultivator Profile</title>
    </head>
    <body>
        {% include '/includes/header.html.twig' %}
        <!-- MODAL -->
        {% include '/includes/sign-in.html.twig' %}
      <h1>{{ grower.getName }}</h1>
        <main>

      <h1>{{ grower.getName }}</h1>

      {% if session.type == "dispensary" %}
        {% if grower.checkFollow(session.id) == true %}
          <form>
            <button type="button" name="button">Following!</button>
          </form>
        {% else %}
        <form class="" action="/follow_grower/{{ grower.getId }}" method="post">
          <button type="submit" name="button">Follow this cultivator</button>
        </form>
        {% endif %}
      {% endif %}

          <h3>Contact Information:</h3>
          <p>
            <a href="{{ grower.getWebsite }}">{{ grower.getWebsite }}</a><br>
            {{ grower.getEmail }}
          </p>
            <h4>Current inventory:</h4>
            <table>
                       <tr>
                           <th>Strain</th>
                           <th>Phenotype</th>
                           <th>THC %</th>
                           <th>CBD %</th>
                           <th>Price ($/lb)</th>
                           <th>CGC</th>

                       </tr>
                       {% if strains is not empty %}
                           {% for strain in strains %}
                           <tr>
                               <td>
                                   {{ strain.getStrainName }}
                               </td>
                               <td>
                                   {{ strain.getPheno }}
                               </td>
                               <td>
                                   {{ strain.getThc }}
                               </td>
                               <td>
                                   {{ strain.getCbd }}
                               </td>
                               <td>
                                   {{ strain.getPrice }}
                               </td>
                               <td>
                                   {% if strain.getCgc == 1 %}
                                       <img src="/img/cleangreen.png"  style="height: 3em;" alt="" />

                                   {% else %}

                                   {% endif %}
                               </td>
                           </tr>
                           {% endfor %}
                       {% else %}
                       <tr>
                           <td colspan = "8">
                                No Strains Available
                           </td>
                       </tr>
                       {% endif %}
                   </table>

            <br>
            {% include '/includes/dispensary_demands.html.twig' %}
            {% include '/includes/grower_supply.html.twig' %}
        </main>
{% include '/includes/footer.html.twig' %}
    </body>
</html>
