<!DOCTYPE html>
<html>
    <head>
        {% include '/includes/head.html.twig' %}
        <meta charset="utf-8">
         <link rel="stylesheet" href="/css/profile.css" media="screen" title="no title" charset="utf-8">
        <title>Retailer Demand</title>
    </head>
    <body>
        {% include '/includes/header.html.twig' %}
        <main>
          <!-- MODAL -->
          {% include '/includes/sign-in.html.twig' %}
          <h3>Retailer Demand:</h3>

          <form class="" action="/dispensary_demands/search" method="get">
              <label>Search Strain Name</label>
              <input type="text" name="search">
            <button type="submit" name="button">Search</button>
          </form>

          <form class="" action="/dispensary_demands/pheno_search" method="get">
              <label>Search by Phenotype</label>
              <select class="" name="search">
                  <option value="Sativa">Sativa</option>
                  <option value="Indica">Indica</option>
                  <option value="Hybrid">Hybrid</option>
              </select>
            <button type="submit" name="button">Search</button>
          </form>
          <table border = "1" cellpadding = "15">
              <tr>
                  <th>Strain</th>
                  <th>Phenotype</th>
                  <th>Quantity</th>
                  <th>Retailer</th>
              </tr>
              {% if demands is not empty %}
                  {% for demand in demands %}
                  <tr>
                      <td>
                          {{ demand.getStrainName }}
                      </td>
                      <td>
                          {{ demand.getPheno }}
                      </td>
                      <td>
                          {{ demand.getQuantity }}lbs
                      </td>
                      <td>
                          <a href="/dispensary_profile/{{ demand.getDispensaryId }}">{{ demand.findDispensaryName(demand.getDispensaryId) }}</a>
                      </td>
                  </tr>
                  {% endfor %}
              {% else %}
              <tr>
                  <td colspan = "7">
                       No Strains Available
                  </td>
              </tr>
              {% endif %}
          </table>

          <br>

          {% include '/includes/grower_supply.html.twig' %}<br>
        </main>
{% include '/includes/footer.html.twig' %}

    </body>
</html>
